<h1>Add New Contact</h1>


</script>
<div class="row">
    <div class="panel panel-body">


        <form action="/contacts/new" method="POST" class="form form-inline">
          {{#if error}}
          <div class="alert alert-danger">
            {{ error }}
          </div>
          {{/if}}
            <!-- Names -->
            <div class="">
                <div class="form-group">
                    <label for="new-first_name">First Name</label> <input name="new-first_name" type="text" class="form-control text-center input-sm" value="{{data.first_name}}">
                </div>
                <div class="form-group">
                    <label for="new-last_name">Last Name</label> <input name="new-last_name" type="text" class="form-control text-center input-sm" value="{{data.last_name}}">
                </div>

            </div>
            <br>
            <!-- Phone and Email -->
            <div class="">
                <div class="form-group">
                    <label for="new-phone_number">Phone Number</label> <input name="new-phone_number" type="text" class="form-control text-center input-sm" value="{{data.phone_number}}">
                </div>
                <div class="form-group">
                    <label for="new-email_address">Email</label> <input name="new-email_address" type="email" class="form-control text-center input-sm" value="{{data.email_address}}">
                </div>
            </div>
            <br>
            <!-- Image URL -->
            <div class="">
                <div class="form-group">
                    <label for="new-img_url">Image URL</label> <input name="new-img_url" type="text" class="form-control text-center input-sm" value="{{data.img_url}}">
                </div>
            </div>
            <br>
            <!-- Select Existing Address -->
            <div class="">
                <div class="form-group">
                    <label for="new-address_select">Select an Existing Address (if applicable) URL</label><br>
                <select name="new-address_select" type="select" class="form-control text-center input-sm">
                  <option name="new-address-select" value="create">Create New (below)</option>
                  {{#each existingAddresses}}
                  <option name="new-address_select" value="{{id}}">{{line_1}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <br>
            <!-- Empty Address Fields: Street -->
            <div class="new-address-fields">
                <div class="form-group">
                    <label for="new-line_1">Address Line 1</label> <input name="new-line_1" type="text" class="form-control text-center input-sm" value="{{data.line_1}}">
                </div>
                <div class="form-group">
                    <label for="new-line_2">Address Line 2</label> <input name="new-line_2" type="text" class="form-control text-center input-sm" value="{{data.line_2}}">
                </div>
            </div>
            <br>
            <!-- Empty Address Fields: City, ZIP -->
            <div class="new-address-fields">
                <div class="form-group">
                    <label for="new-city">City</label> <input name="new-city" type="text" class="form-control text-center input-sm" value="{{data.city}}">
                </div>
                <div class="form-group">
                    <label for="new-zip">ZIP</label> <input name="new-zip" type="text" class="form-control text-center input-sm" value="{{data.zip}}">
                </div>
            </div>
            <br>
            <!-- Submit Button -->
            <div class="form-group text-center">
                <input class="btn btn-default" type="submit">
            </div>
        </form>

    </div>

</div>
